name: Deploy Fullstack App

on:
  push:
    branches: ["main"]
jobs:
# =========================
# JOB 1: BUILD FRONTEND
# =========================
  build-frontend:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Create Frontend .env
        working-directory: ./frontend
        run: |
           printf "%s\n" "${{ secrets.PROD_FRONTEND_ENV }}" > .env

      - name: Debug Frontend env (keys only)
        working-directory: ./frontend
        run: sed 's/=.*$/=****/' .env

      - name: Build Frontend
        working-directory: ./frontend
        run: npm run build

      - name: Upload Frontend Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: ./frontend/dist

# =========================
# JOB 2: DEPLOY TO EC2
# =========================
  deploy-to-ec2:
    needs: build-frontend
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

# -------- BACKEND --------
      - name: Verify Node (NVM)
        run: |
          export PATH=$HOME/.nvm/versions/node/v20.12.0/bin:$PATH
          node -v
          npm -v

      - name: Install Backend Dependencies
        working-directory: ./backend
        run: |
          export PATH=$HOME/.nvm/versions/node/v20.12.0/bin:$PATH
          npm install --production

      - name: Create Backend .env
        working-directory: ./backend
        run: |
           printf "%s\n" "${{ secrets.PROD_BACKEND_ENV }}" > .env

      - name: HARD DEBUG
        working-directory: ./backend
        run: |
          echo "Bytes:"
          wc -c .env
          echo "Lines:"
          wc -l .env

      - name: Restart Backend with PM2
        working-directory: ./backend
        run: |
          export PATH=$HOME/.nvm/versions/node/v20.12.0/bin:$PATH
           /home/ubuntu/.nvm/versions/node/v20.12.0/bin/pm2 delete backend || true
          /home/ubuntu/.nvm/versions/node/v20.12.0/bin/pm2 start npm --name backend -- start || /home/ubuntu/.nvm/versions/node/v20.12.0/bin/pm2 restart backend 
          /home/ubuntu/.nvm/versions/node/v20.12.0/bin/pm2 save

# -------- FRONTEND --------
      - name: Download Frontend Build
        uses: actions/download-artifact@v4
        with:
          name: frontend-dist
          path: ./frontend-dist

      - name: Deploy Frontend to Nginx
        run: |
          sudo rm -rf /var/www/html/*
          sudo cp -r ./frontend-dist/* /var/www/html/
          sudo systemctl reload nginx
          rm -rf ./frontend-dist
